<div class="tabs-container">
  <ul class="tab-list">
    <li class="tab-item <%= activeTab === 'newest' ? 'active' : '' %>" data-sort="newest">
      <a href="#" class="tab-link">最新发布</a>
    </li>
    <li class="tab-item <%= activeTab === 'plays' ? 'active' : '' %>" data-sort="plays">
      <a href="#" class="tab-link">最多播放</a>
    </li>
    <li class="tab-item <%= activeTab === 'favorites' ? 'active' : '' %>" data-sort="favorites">
      <a href="#" class="tab-link">最多收藏</a>
    </li>
  </ul>
</div> 