<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <title><%= typeof title !== 'undefined' ? title : '内容平台' %></title>
  <!-- Umami Analytics -->
  <script defer src="https://cloud.umami.is/script.js" data-website-id="0447789b-3880-4f93-bcc4-e0c5db71972d"></script>
  <style>
    video::-webkit-media-controls-download-button { display:none!important; }
    video::-internal-media-controls-download-button { display:none!important; }
    video::-webkit-media-controls-enclosure { overflow:hidden!important; }
  </style>
  <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
  <link href="https://unpkg.com/@videojs/themes@1/dist/city/index.css" rel="stylesheet">
</head>
<body>
  <%- body %>
</body>
</html>

